{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Accommodation System</title>

<link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>

<div class="layout">

<!-- Sidebar -->
<div class="sidebar">

<h2 class="logo">EduCheck</h2>

<a href="{% url 'dashboard' %}">
Dashboard
</a >

{% if profile %}

{% if profile.role == 'student' %}

<a href="{% url 'inspection' %}">
Inspection Requests
</a >

<a href="{% url 'create_check_out' %}">
Check-out
</a >

{% endif %}

{% if profile.role == 'admin' %}

<a href="{% url 'create_check_in' %}">
Create Check-in
</a >

{% endif %}

{% endif %}

<a href="{% url 'logout' %}" class="logout">
Logout
</a >

</div>


<!-- Main content -->
<div class="content">

{% block content %}
{% endblock %}

</div>

</div>


<!-- popup message -->
{% if messages %}
    {% for message in messages %}
        <div class="popup-message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<script src="{% static 'js/main.js' %}"></script>

<script>
const popups = document.querySelectorAll(".popup-message");

popups.forEach(function(popup){
    setTimeout(function(){
        popup.style.display = "none";
    }, 2000);
});
</script>

</body>
</html>