{% extends 'accommodation/base.html' %}

{% block content %}

<h1>Room Inspection</h1>

<!-- if no check-in record -->
{% if not check_in %}
<div class="card">
<p class="empty-message">No check-in record. Inspection cannot be submitted.</p >
</div>

{% else %}

<form method="POST">
{% csrf_token %}

<!-- Room Condition -->

<div class="card">

<h3>Room Condition</h3>

<select id="conditionSelect" name="condition" class="form-control">

<option value="no"
{% if inspection and inspection.issues == "No issues" %}selected{% endif %}>
No issues
</option>

<option value="yes"
{% if inspection and inspection.issues and inspection.issues != "No issues" %}selected{% endif %}>
Has issues
</option>

</select>

</div>


<!-- Issues -->

<div class="card" id="issuesBox"
{% if inspection and inspection.issues and inspection.issues != "No issues" %}
style="display:block;"
{% else %}
style="display:none;"
{% endif %}
>

<h3>Select Issues</h3>

<div class="issue-list">

<label class="issue-item">
<input type="checkbox" name="issues" value="Walls damaged"
{% if inspection and inspection.issues and "Walls damaged" in inspection.issues %}checked{% endif %}>
<span>Walls damaged</span>
</label>

<label class="issue-item">
<input type="checkbox" name="issues" value="Furniture damaged"
{% if inspection and inspection.issues and "Furniture damaged" in inspection.issues %}checked{% endif %}>
<span>Furniture damaged</span>
</label>

<label class="issue-item">
<input type="checkbox" name="issues" value="Bathroom problem"
{% if inspection and inspection.issues and "Bathroom problem" in inspection.issues %}checked{% endif %}>
<span>Bathroom problem</span>
</label>

<label class="issue-item">
<input type="checkbox" name="issues" value="Window problem"
{% if inspection and inspection.issues and "Window problem" in inspection.issues %}checked{% endif %}>
<span>Window problem</span>
</label>

<label class="issue-item">
<input type="checkbox" name="issues" value="Electricity problem"
{% if inspection and inspection.issues and "Electricity problem" in inspection.issues %}checked{% endif %}>
<span>Electricity problem</span>
</label>

</div>

</div>


<!-- Comments -->

<div class="card">

<h3>Comments</h3>

<textarea name="comments" rows="3" placeholder="Additional comments (optional)">{{ inspection.comments }}</textarea>

</div>


<!-- Submit -->

<div class="center-btn">

<button class="btn" type="submit">
Submit Inspection
</button>

</div>

</form>

{% endif %}


<script>

const select = document.getElementById("conditionSelect");
const issuesBox = document.getElementById("issuesBox");

if(select){

select.addEventListener("change", function(){

if(this.value === "yes"){
issuesBox.style.display = "block";
}else{
issuesBox.style.display = "none";
}

});

}

</script>

{% endblock %}