{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>EduCheck Login</title>

<link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>

<div class="container login-container">

<h1>EduCheck</h1>
<h2>Login</h2>

<div class="form-box">

<form method="POST">
{% csrf_token %}

<div class="form-row">
<label>Username:</label>
<input type="text" name="username" required>
</div>

{% if error %}
<div class="error">
{{ error }}
</div>
{% endif %}

<div class="form-row">
<label>Password:</label>
<input type="password" name="password" required>
</div>

<button type="submit">Login</button>

</form>

</div>

<p style="margin-top:20px;">
Don't have an account?
<a href="{% url 'register' %}">Register</a >
</p >

</div>

</body>
</html>